.wrapper {
    position: relative;
  }
  
  .search{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.cc{
  background-color: #242526;
  color: white;
}

  /* .search-box{
    width: 100%;
    border-radius: 10px;
    padding:13px;
    background-color:#242526;
    outline: #fff;
    color: #fff;
  } */
  .scroll-container {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 100%;
  }
  
  .scroll-container::-webkit-scrollbar{
    display: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .bottom-nav {
    width: 90%;
    position: fixed;
    box-shadow: 0 4px 8px rgba(77, 75, 75, 0.3);
    bottom: 7dvh; 
    left: 50%; 
    transform: translate(-50%, 50%);
    z-index: 1;
    background-color: #ff0707;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
  }
  
  
  .nav-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
  }
  .nav-icons a {
    color: #9b9494;
  }
  
  .active{
    color: #fff;
  }

  .icon-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .icon-list li {
    margin: 0 20px;
  }
  
  
  
  .movies-div{
    width: 100%;
  
  }
  
  .mvx{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 10px;
  }
  