.dark{
  background-color: #18191a;
  color: #fff;
  transition: 0.3s ease-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;  
}
.light{
  background-color: #fff;
  color: black;
  transition: 0.3s ease-in;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}


