.dark{
  background-color: #18191a;
  color: #fff;
}
.light{
  background-color: #fff;
  color: black;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
